---
layout: page
title: APIDays Berlin and APIStrat Europe 2015 - Schedule
---
<div class="heading">
    <div class="container">
        <h1>Schedule</h1>
    </div>
</div>

<div class="container">
    <p><br></p>

    <div class="schedule">
        <ul class="nav nav-tabs pull-right">
            <li>
                <ul>
                    <li>
                        <a data-location="0" href="#">All</a>
                    </li>

                    <li>
                        <a data-location="27" href="#">Break Area</a>
                    </li>

                    <li>
                        <a data-location="56" href="#">Edelweiss pub</a>
                    </li>

                    <li>
                        <a data-location="4" href="#">Room: Berlin</a>
                    </li>

                    <li>
                        <a data-location="26" href="#">Room: Carl v.
                        Gontard</a>
                    </li>

                    <li>
                        <a data-location="3" href="#">Room: Caroline &amp;
                        Wilhelm v. Humboldt</a>
                    </li>

                    <li>
                        <a data-location="2" href="#">Room: Kassenhalle
                        (Main Stage)</a>
                    </li>
                </ul>
            </li>

            <li class="active">
                <ul>
                    <li>
                        "#">All</a>
                    </li>

                    <li>
                        <a data-timestamp="1429747200" href="#">November 18th,
                        2015</a>
                    </li>

                    <li>
                        <a data-timestamp="1429833600" href="#">November 19th,
                        2015</a>
                    </li>

                    <li>
                        <a data-timestamp="1429920000" href="#">November 20th,
                        2015</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="clearfix"></div>

        <div class="sessions list">

            <div class="followWrap" style="height: 60px;">
                <div class="day-floating">
                    <span>November 18th, 2015</span>
                </div>
            </div>

            <div class="session">

                <span class="time">1:00 pm - 6:00 pm</span>

                <div class="session-inner">
                    Workshops
                </div>

            </div>

            <div class="followWrap" style="height: 60px;">
                <div class="day-floating">
                    <span>November 19th, 2015</span>
                </div>
            </div>

            {% for entry in site.dayone %}
              <div class="session">

                  <span class="time">{{ entry.time }}</span>

                  <div class="session-inner">

                      <a class="title" href="#"><span>{{ entry.title }}</span></a>
                      <span class="location">{{ entry.location }}</span>

                      <span class="speakers-thumbs">
                      {% for speaker in entry.speakers %}
                          <a class="speaker" href="{{ speaker.slug }}">
                            <img alt="{{ speaker.name }} ({{ speaker.company }})" class="attachment-54x54 wp-post-image" height="54" src="{{ speaker.image }}" width="47">
                            <span class="name">
                              <span class="text-fit">
                                <span class="text-fit-inner" style="display: block; font-size: 0.95em;">{{ speaker.name }} ({{ speaker.company }})</span>
                              </span>
                            </span>
                          </a>
                      {% endfor %}
                      </span>

                      <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->

                  </div>
              </div>
            {% endfor %}

            <div class="followWrap" style="height: 60px;">
                <div class="day-floating">
                    <span>November 20th, 2015</span>
                </div>
            </div>

            {% for entry in site.daytwo %}
              <div class="session">

                  <span class="time">{{ entry.time }}</span>

                  <div class="session-inner">

                      <a class="title" href="#"><span>{{ entry.title }}</span></a>
                      <span class="location">{{ entry.location }}</span>

                      <span class="speakers-thumbs">
                      {% for speaker in entry.speakers %}
                          <a class="speaker" href="{{ speaker.slug }}">
                            <img alt="{{ speaker.name }} ({{ speaker.company }})" class="attachment-54x54 wp-post-image" height="54" src="{{ speaker.image }}" width="47">
                            <span class="name">
                              <span class="text-fit">
                                <span class="text-fit-inner" style="display: block; font-size: 0.95em;">{{ speaker.name }} ({{ speaker.company }})</span>
                              </span>
                            </span>
                          </a>
                      {% endfor %}
                      </span>

                      <!--<a class="more" href="">More info <i class="icon-angle-right"></i></a>-->

                  </div>
              </div>
            {% endfor %}

        </div>
    </div>
</div>
