<!doctype html>
<html lang="en-US">

  {% include head.html %}

  <body class="home blog">
    <header class="nav transition">
      <a href="/" id="logo">
        <img src="https://s3.amazonaws.com/kinlane-productions/events/apistrat-austin/apistrat-austin-logo.png" alt="APIStrat Austin 2015" title="APIStrat Austin 2015" width="210" />
      </a>
            <nav class="navbar" role="navigation">
                <!-- mobile navigation -->
                <div class="navbar-header visible-sm visible-xs">
                    <button type="button" class="btn btn-primary navbar-toggle" data-toggle="collapse" data-target="#tyler-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="icon-header"></i>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse text-fit" id="tyler-navigation">
                    <div class="menu-menu-1-container">
                      <ul id="menu-primary" class="transition">
                        <li id="menu-item-61" class="menu-item{% if page.title == 'APIStrat Austin 2015' %} current-menu-item{% endif %}"><a href="/">Home</a></li>
                        <li id="menu-item-66" class="menu-item{% if page.title == 'APIStrat Austin 2015 - Venue' %} current-menu-item{% endif %}"><a href="/venue/">Venue</a></li>
                        <li id="menu-item-75" class="menu-item{% if page.title == 'APIStrat Austin 2015 - Blog' %} current-menu-item{% endif %}"><a href="/blog/">Blog</a></li>
                        <li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-228"><a href="/all-events/">Past Events</a></li>
                        <li id="menu-item-95" class="menu-item{% if page.title == 'APIStrat Austin 2015 - Contact' %} current-menu-item{% endif %}"><a href="/contact/">Contact</a></li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>

        <!-- LANDING - BIG PICTURE -->

      {{ content }}

      <footer>
          <div class="container">
              <div class="row row-sm">
                  <div class="col col-md-4">
                    <div>
                      <h4>Event co-organized by</h4>
                      <div class="textwidget">
                        <img src="https://s3.amazonaws.com/kinlane-productions/events/apistrat-austin/api-evangelist-wh-300.png" width="250" style="padding: 10px;">
                        <img src="https://s3.amazonaws.com/kinlane-productions/events/apistrat-austin/3scale-2015-white-200.png" width="200" style="padding: 10px;">
                      </div>
      		          </div>
                  </div>
                <div class="col col-md-4">
                  <div>
                    <h4>CONNECT</h4>
                    <div class="menu-footer-container">
                      <ul id="menu-footer" class="menu">
                        <li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88"><a href="/contact/">Contact</a></li>
                        <li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a href="/blog/">Blog</a></li>
                        <li id="menu-item-90" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-90"><a href="https://twitter.com/apistrat">Twitter</a></li>
                        <li id="menu-item-91" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-91"><a href="https://www.youtube.com/user/apistrat/videos">Youtube</a></li>
                        <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="/code-of-conduct/">Code of Conduct</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="credits">
            <div class="footer-tyler-event">
              	Austin Photo By <a href="https://www.flickr.com/photos/ejmc/10078714685">Earl McGehee</a>
              </div>
          </div>
      </footer>

</body>
</html>
